---
---

@import "{{ site.theme }}";
.page-header { display: none; }

img[src$="right"] {
    display:block;
    float: right;
    margin-left: 25px;
  }

img[src$="left"] {
    display:block;
    float: left;
    margin-right: 25px;
  }
img[src*="thumb"] {
  width: 150px;
  height: auto;
}
h1,h2,h3 { clear: both;}

.language-java { clear: both; }